.cart-container {
    overflow: hidden;
    padding: 20px;
}

.cart-container h2, .cart-container h4 {
    text-align: center;
}
.cart-container p {
    font-size: 20px;
    /* font-weight: 700; */
    line-height: 25px;
    margin: 0;
}

.cart-container span {
    float: right;
}
h3.totalPrice {
    color: red;
}
.cart-btn {
    text-align: center;
}